body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: lightgray;
}

.widget {
    border-radius: 8px;
    box-shadow: 0 2px 10px gray;
    background-color: whitesmoke;
}

#app-container {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

#tool-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    padding: 15px;

    /*
        ⚠️ Note something new: CSS nested rules

        In new versions of CSS (supported by most modern browsers), you can nest rules inside other rules.
        The following code is equivalent to writing: `#tool-container button { ... }`
    */

    button {
        padding: 10px 15px;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 4px;
        cursor: pointer;

        /*
            ...aaaaand we nest again!
            The following code is equivalent to writing: `#tool-container button:hover { ... }`
        */

        &:hover {
            background-color: lightgray;
        }

        /*
            ...aaaand again!
            The following code is equivalent to writing: `#tool-container button.selected { ... }`
        */

        &.selected {
            background-color: green;
            color: white;
            border-color: green;
        }
    }
}

#drawing-canvas {
    Circle {
        fill: blue;
        stroke: darkblue;
    }

    Rect {
        fill: red;
        stroke: darkred;
    }
    
    .temp {
        opacity: 0.7;
        stroke: #000;
        stroke-width: 2;
        stroke-dasharray: 5, 5;
        fill-opacity: 0.3;
    }
    
    .selected {
        stroke: gold;
        stroke-width: 3;
        stroke-dasharray: none;
    }
}
